.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

/* Current weather */


* {
  font-family: "Raleway", sans-serif;
}


div {
  background-color:rgb(156, 206, 243);
}

button {
  background-color:rgb(88, 121, 200);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  outline: none;
}

input {
  background-color:#769edb;
  border: none;
  padding: 5px 10px;
  outline: none;
  color: white;
}


.container {
  width: 100%;
    padding-top: 30px;
    background-color: #d62291;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 200px;
    height: 300px;
  }
  
  .storm {

    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }